* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.forest {
  /* width:100%; */
  color: #fff;
  background-image: url(jungle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  width: 100vw;
}

.forest .navbar {
  /* max-width: 1200px; */
  margin: 0px, auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  overflow: hidden;
}
.logo {
  padding: 50px;
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  margin-right: 10px;
}
nav ul li {
  list-style: none;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
}
nav ul :hover {
  color: rgb(72, 238, 6);
}
.content {
  /* display: flex; */
  text-align: center;
  margin: 25vh;
  font-weight: 500;
}
h4 {
  font-size: 8vh;
}
.text {
  font-size: 3vh;
}
.btn1 {
  display: inline-flex;
  width: 10vw;
  justify-content: center;
  background-color: rgb(137, 184, 137);
  color: white;
  padding: 10px 5px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 25px;
  margin: 50px 20px;
  cursor: pointer;
}
.btn1:hover {
  background-color: rgb(17, 16, 16);
}
.part2 {
  justify-content: center;
}
.text1 {
  color: rgb(71, 175, 71);
  justify-content: center;
  text-align: center;
  margin: 2vh;
  font-size: 10vh;
}
.text2 {
  color: black;
  text-align: center;
  font-size: 8vh;
}
.text3 {
  justify-content: center;
  text-align: center;
  font-size: 3vh;
}
.part3 {
  display: flex;
  justify-content: center;
}
.image {
  padding-right: 13vh;
}
#leaf1 {
  color: rgb(17, 93, 17);
  text-decoration: none;
  font-size: 4vh;
}
#leaf2 {
  color: black;
  font-size: 3vh;
}
#leaf3 {
  color: #4c4c4c;
}
/* .circle {
  background-color: aqua;
  height: 20vh;
  width: 20vw;
  border-radius: 40vh;
}
.circle1 {
  background-color: red;
  height: 20vh;
  width: 20vw;
  border-radius: 30vh;
  margin-bottom: 50vh;
}
 */

.part4 {
  background-image: url(greenary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  justify-content: center; */
  height: 100vh;
}
.para {
  display: flex;
  justify-content: center;
}
.para1 {
  color: white;
  text-align: center;
  text-decoration: none;
  /* margin: 60px; */
  line-height: 25px;
  margin-top: 50px;
}
.para2 {
  color: white;
  text-align: center;
  margin-top: 40px;
  padding-left: 30px;
  line-height: 80%;
  font-size: 120%;
}
#green1 {
  color: green;
  font-size: 25px;
}
#green2 {
  font-size: 40px;
}
.mainbox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}
.box {
  /* display: inline-block; */
  height: 200px;
  width: 320px;
  /* margin-left: 100px; */
  /* padding: 100px; */
  /* border-radius: 5px; */
  box-shadow: 0 0 8px 1px rgb(59, 57, 57);
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  margin: 20px;
}
#boxpr {
  color: green;
}

.part5 {
  height: 45vh;
  /* background-color: rgb(168, 168, 168); */
  background-color: rgb(81, 153, 81);
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 15vh;
  font-size: 4vh;
  color: white;
}
#rect {
  color: black;
  padding: 3vh 0;
}
.part6 {
  display: flex;
  justify-content: center;
}
.cont1 {
  /* margin-right: 20vh 0 0 0; */
  padding: 10vh 0 0 0vh;
}
.cont2 {
  padding: 6vh 0 0 8vh;
  font-size: 4vh;
}
#cont3 {
  color: rgb(57, 155, 57);
  font-size: 3vh;
}
.planting {
  /* display: flex; */
  margin-left: 25vh;
  padding: 8vh;
}

.part7 {
  display: flex;
  justify-content: center;
}
.pbox {
  height: 20vh;
  width: 80vh;
  background-color: white;
  border-radius: 2vh;
  margin-left: 15vh;

  box-shadow: 2px 8px 25px 20px rgb(59, 57, 57);
  /* overflow: hidden; */
}
#pbox1,
#pbox2,
#pbox3 {
  margin: 7vh;
}
.side1 {
  display: flex;
  justify-content: center;
}

.part8 {
  /* display: flex;
  justify-content: center;
  text-align: center; */
  height: 100vh;
  background-image: url(jungle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh;
  color: white;
}
.part81 {
  margin-left: 60vh;
}
.part82 {
  margin-left: 5vh;
  font-size: 3vh;
}
.mainpart {
  display: flex;
  justify-content: center;
}
.partbox {
  display: flex;
}
.partbox1 {
  height: 64vh;
  width: 45vh;
  background-color: white;
  color: #4c4c4c;
  border-radius: 2vh;
  margin: 5vh;
  text-align: center;
  font-size: 3vh;
}
.head {
  color: green;
  text-align: center;
  padding: 4vh;
}
ul li {
  list-style: none;
  line-height: 5vh;
}

button {
  padding: 2vh 3vh;
  border-radius: 2vh;
  background-color: rgb(65, 196, 65);
  color: #fff;
  font-size: 3vh;
}
button:hover {
  background-color: black;
  cursor: pointer;
}
.part9 {
  /* display: flex; */
  /* justify-content: center; */
  margin: 10vh;
  margin-left: 35vh;
}
.bloghead {
  display: flex;
}
.bloghead2 {
  margin-left: 8vh;
  font-size: 3vh;
}
#bhead1 {
  font-size: 2vh;
  color: rgb(74, 179, 74);
}
.mainblog {
  display: flex;
  justify-content: space-between;
  margin: 5vh;
}
.blog1,
.blog2,
.blog3 {
  height: 26vh;
  width: 26vh;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 1vh;
  border-color: whitesmoke;
  box-shadow: 0 0 8px 1px rgb(143, 140, 140);
  /* text-align: center; */
}
.bimg {
  padding: 1vh 1vh 1vh 1vh;
}
.blogbox1,
.blogbox2,
.blogbox3 {
  height: 62vh;
  width: 50vh;
  padding: 2vh;
}
#ted {
  color: green;
  font-size: 25px;
}
.part10 {
  height: 45vh;
  background-color: rgb(76, 241, 76);
  /* justify-content: center; */
  text-align: center;
}
.btnplay button {
  background-color: white;
  color: black;
}
.btnplay :hover {
  color: #fff;
  background-color: black;
}
.pbtn,
#x {
  margin: 8vh;
  border-radius: 10vh;
  line-height: 5vh;
  /* color: #292828; */
}
#save {
  color: #fff;
  font-size: 5vh;
}
.part11 {
  margin-top: 4%;
  text-align: center;
}
.text11 {
  display: flex;
}
.ptext {
  display: flex;
  /* margin: 5%; */
  margin-left: 20%;
  /* text-align: ends; */
}
.ptext1 {
  margin-left: 4%;
  line-height: 25px;
}
.ptext1 p {
  color: green;
  font-size: 25px;
}
.ptext1 h1 {
  font-size: 28px;
}
.mainphoto {
  display: flex;
  height: 500px;
  width: 100%;

  justify-content: space-evenly;
}
.photo1 {
  height: 465px;
  width: 15%;

  margin: 5px;
  /* overflow: hidden; */
}
.photo1 button {
  background-color: black;
  border-radius: 50px;
  padding: 6px;
}
.photo1 button:hover {
  background-color: #fff;
  color: black;
}
.photo1 h3 {
  color: green;
}
