*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.forest{
    /* width:100%; */
    color:#fff;
    background-image: url(jungle.jpg);
    background-repeat: no-repeat;
    height:110vh;
    width: 100vw;
    background-color:brown;
}

.forest .navbar{
    /* max-width: 1200px; */
    margin: 0px, auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
    overflow: hidden;
}
.logo{
    padding:50px;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    margin-right: 10px;
}
nav ul li{
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
    cursor: pointer;
}
 nav ul :hover {
  color: rgb(72, 238, 6);
}
.content{
    /* display: flex; */
    text-align: center;
    margin:25vh;
    font-weight: 500;
}
h4{
    font-size: 8vh;
}
.text{
    font-size: 3vh;
}
.btn1 {
    display: inline-flex;
    width: 10vw;
    justify-content: center;
    background-color:rgb(137, 184, 137);
    color: white;
    padding: 10px 5px;
    text-decoration: none;
    border-radius:15px;
    font-size: 25px;
    margin: 50px 20px;
    cursor: pointer;
}
.btn1:hover{
    background-color: rgb(17, 16, 16);
}
.part2{
   justify-content: center;
}
.text1{
    color:rgb(71, 175, 71);
    justify-content: center;
    text-align: center;
    margin:2vh;
    font-size: 10vh;
}
.text2{
    color:black;
    text-align: center;
    font-size: 8vh;
}
.text3{
    justify-content: center;
    text-align: center;
    font-size: 3vh;
}
.part3{
    display: flex;
    justify-content: center;
}
.image{
    padding-right: 13vh;
}
#leaf1{
    color:rgb(17, 93, 17);
    text-decoration: none;
    font-size:4vh;
}
#leaf2{
    color: black;
    font-size: 3vh;
}
#leaf3{
    color: #4c4c4c;
}

